body{
    padding-top: 10%;
    background-color: #B0C4DE;
}

.form-login{
    max-width: 500px;
    padding: 40px;
    border: 3px #5f9ea0 groove;
    border-radius: 20px;
    background: #ffffff;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, .7) 13px 13px 10px;
}

.form-login .form-login-heading{
    color: #5F9EA0;
    text-align: center;
}

.form-login .form-control{
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-login input[type="text"]{
    margin-bottom: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.form-login input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.btn-primary {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: #B0C4DE;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid #5F9EA0;
  border-radius: 40px;
  background: transparent;
  background-color: #fff !important;
  transition: all 0.3s ease 0s;
}
.btn-primary:hover {
  color: #B0C4DE;
  background: #ffffff;
  border: 2px solid #B0C4DE;
}